@font-face {
  font-family: 'Visby-bold';
  src: url('./fonts/Fontspring-DEMO-visbycf-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Visby-heavy';
  src: url('./fonts/Fontspring-DEMO-visbycf-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Visby-bold', sans-serif;
  color: #504E4F;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.title {
  font-family: 'Visby-heavy', sans-serif;
  font-size: 27px;
  color: #504E4F;
  margin: 0;
}

.highlight {
  color: red;
}

.navbar {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

/* Specific heights for each grid item */
.grid-item-1 {
  grid-column: 1 / 2;
}

.grid-item-1-line {
  background-color: #504E4F;
  height: 3px;
}

.grid-item-1-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-1-container {
  background-color: #d0d0d0;
  height: 180px;
}





.grid-item-2 {
  grid-column: 2 / 4;
}

.grid-item-2-line {
  background-color: #504E4F;
  height: 3px;
}

.grid-item-2-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-2-title span {  
  color: red;
  margin-right: 5px;
}

.grid-item-2-container {
  background-color: #d0d0d0;
  height: 420px;
}



.grid-item-3-line {
  background-color: #504E4F;
  height: 3px;
  margin-top: 18px;
}

.grid-item-3-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-3-container {
  background-color: #d0d0d0;
  height: 180px;
}


.grid-item-4 {
  grid-column: 4 / 6;
}

.grid-item-4-line {
  background-color: #504E4F;
  height: 3px;
}

.grid-item-4-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-4-title span {  
  color: red;
  margin-right: 5px;
}

.grid-item-4-container {
  background-color: #d0d0d0;
  height: 180px;
}



.grid-item-5-line {
  background-color: #504E4F;
  height: 3px;
  margin-top: 18px;
}

.grid-item-5-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-5-container {
  background-color: #d0d0d0;
  height: 420px;
}




.grid-item-6 {
  grid-column: 1 / 4;
  margin-top: -233px;
}

.grid-item-6-line {
  background-color: #504E4F;
  height: 3px;
}

.grid-item-6-title {  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.grid-item-6-container {
  background-color: #d0d0d0;
  height: 180px;
}